<app-header></app-header>
<div class="container">
<mat-toolbar>
    <span>Redefinir Senha</span>
  </mat-toolbar>
  <mat-card class="my-card">
     <mat-card-content>
        <form (ngSubmit)="reset()" #form="ngForm" class="my-form">
           <mat-form-field class="full-width">
              <mat-label>Nova Senha</mat-label>
              <input  matInput maxlength="50" [(ngModel)]="resetData.newPassword" type="password" placeholder="Nova Senha" name="NovaSenha" required>
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Confirme a nova senha</mat-label>
              <input  matInput maxlength="50" [(ngModel)]="resetData.newPasswordConfirmed" type="password" placeholder="Confirme a nova senha" name="ConfirmeNovaSenha" required>
           </mat-form-field>
        </form>
     </mat-card-content>
     <mat-card-actions>
        <button mat-raised-button (click)="reset()" [disabled]="form.invalid" type="submit"  color="primary">Salvar</button>
        <button mat-raised-button color="primary" [routerLink]="['/profile']">Meu Perfil</button>

     </mat-card-actions>
  </mat-card>
</div>