<form class="example-form">
    <mat-form-field appearance="fill">
        <mat-label>Digite o nome do Browser Game: </mat-label>
        <input matInput [(ngModel)]="nome" name="nome">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Selecione a categoria: </mat-label>
        <mat-select  [(ngModel)]="selectedCategoria" name="categoria"> 
            <mat-option value="Todas"  >Todas</mat-option>
          <mat-option *ngFor="let categoria of categorias" [value]="categoria.id" > {{categoria.nome}} </mat-option>
          </mat-select>
      </mat-form-field>
      <button mat-button color="primary" (click)="filter()" >Filtrar</button>
  </form>
<mat-grid-list [cols]="breakpoint" rowHeight="30em" (window:resize)="onResize($event)" gutterSize="15px">
  <mat-grid-tile *ngFor="let browserGame of browserGames">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"> <img mat-card-image src="{{browserGame.urlImagem}}"
            alt="{{browserGame.nome}}">
        </div>
        <mat-card-title>{{browserGame.nome}}
            {{transform(browserGame.urlVideo)}}
        </mat-card-title>
        <mat-card-subtitle>{{browserGame.categoria.nome}}</mat-card-subtitle>
      </mat-card-header>
      <iframe mat-card-image [src]="iframeSrc"> </iframe>
      <mat-card-content>
        <p>

          {{browserGame.descricao}}
        </p>
      </mat-card-content>
      <mat-card-footer>Na OBG desde {{browserGame.dataCriacao}}</mat-card-footer>
      <mat-card-actions>
        <button mat-button color="primary"><a href="{{browserGame.urlJogo}}">Jogar</a></button>
        <button mat-button color="primary">Avaliar</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
