.example-spacer {
    flex: 1 1 auto;
  }

  a.home-button {
    text-decoration: none;
    color: white;
  }

  a.logout-button {
    text-decoration: none;
    color: white;
  }

  img {
    width: auto;
    height: 100px;

  }