<div class='container'>
<h1 *ngIf="!isChange" mat-dialog-title>Criar Browser Game</h1>
<h1 *ngIf="isChange" mat-dialog-title>Editar Browser Game</h1>
<div mat-dialog-content>
  <!--<mat-form-field *ngIf="isChange" appearance="fill">
    <mat-label *ngIf="isChange" >Id</mat-label>
    <input *ngIf="isChange" matInput [(ngModel)]="data.id">
  </mat-form-field>-->
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput maxlength="50" [(ngModel)]="data.nome">
  </mat-form-field>
 <mat-form-field appearance="fill">
    <mat-label>Categoria</mat-label>
    <mat-select [formControl]="selectedCategoria" > 
      <mat-option *ngFor="let categoria of categorias" [value]="categoria.id" > {{categoria.nome}} </mat-option>
      </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Descricao</mat-label>
    <input matInput maxlength="255" [(ngModel)]="data.descricao">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>URL Imagem</mat-label>
    <input matInput maxlength="255" [(ngModel)]="data.urlImagem">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>URL Video</mat-label>
    <input matInput maxlength="255" [(ngModel)]="data.urlVideo">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>URL Jogo</mat-label>
    <input matInput maxlength="255" [(ngModel)]="data.urlJogo">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button *ngIf="!isChange" (click)="sendBrowserGameData(data,selectedCategoria.value)" cdkFocusInitial>Criar</button>
  <button mat-button *ngIf="isChange" (click)="sendBrowserGameData(data,selectedCategoria.value)" cdkFocusInitial>Editar</button>
</div>
</div>