<div class="container">
    <div class="grid-container">
        <div class="item1">
            <img src="{{browserGame.urlImagem}}" alt="{{browserGame.nome}}">
            <button mat-button color="primary"><a href="{{browserGame.urlJogo}}">Jogar</a></button>
            <button mat-button color="primary" ><a href="{{browserGame.urlVideo}}">Ver Video</a></button>
        </div>

        <div class="item2">
          <h1> {{browserGame.nome}} </h1>
          <h3> {{browserGame.categoria.nome}} </h3>
          <p> {{browserGame.descricao}} <br> Na OBG desde {{browserGame.dataCriacao}} </p>
        </div>

        <div class="item4">
            <p>Avaliações de {{browserGame.nome}} </p>
            <div class="cards">
            <mat-list *ngFor="let avaliacao of avaliacoes">
                <mat-list-item>  
                
                  <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>{{avaliacao.usuario.nomeCompleto}}
                          
                      </mat-card-title>
                      <mat-card-subtitle>{{avaliacao.dataCriacao}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        {{avaliacao.comentario}}
                      </p>
                    </mat-card-content>
                   <!--  <mat-card-footer>Na OBG desde {{browserGame.dataCriacao}}</mat-card-footer>  (click)="curtir(browserGame)" -->
                   
                   <mat-card-footer>
                    <div class="button-container">
                        <button mat-icon-button color="primary"> <mat-icon>thumb_up</mat-icon>  </button> 
                        <p class="numero-curtidas"> ({{avaliacao.curtidasSize}}) </p>
                    </div>
                    </mat-card-footer>
                    
                   
                  </mat-card>
                </mat-list-item>
            </mat-list>
        </div>
        </div>

        <div class="item3">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <div class="estrelas">
            <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
            <label for="cm_star-1"><i class="fa"></i></label>
            <input type="radio" id="cm_star-1" name="fb" value="1"/>
            <label for="cm_star-2"><i class="fa"></i></label>
            <input type="radio" id="cm_star-2" name="fb" value="2"/>
            <label for="cm_star-3"><i class="fa"></i></label>
            <input type="radio" id="cm_star-3" name="fb" value="3"/>
            <label for="cm_star-4"><i class="fa"></i></label>
            <input type="radio" id="cm_star-4" name="fb" value="4"/>
            <label for="cm_star-5"><i class="fa"></i></label>
            <input type="radio" id="cm_star-5" name="fb" value="5"/>
            </div>
        </div>
        
    </div>
</div>
