.container{
    padding: 20px 80px;
    padding-bottom: 100px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 300px 300px;
    grid-gap: 10px;
    padding: 10px;
  }
  
  .item1 {
    display: inherit;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .item1 img {
    width:  18.75em;
    height:  18.75em;
    border-radius: 10px;
    border-style: outset;
}
  
  .item2 {
    display: inherit;
    padding: inherit;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .item2 h1 {
   font-size: 3em;
   font-weight: bold;
  }
  .item2 h3 {
    font-size: 1.5em;
    font-weight: lighter;
   }
   .item2 p {
    font-size: 1em;
    font-weight: normal;
   }
   .item2 span {
    font-size: 0.9em;
    font-weight: normal;
    color: #0000008A;
   }

  .item3 {
    display: inherit;
    padding: inherit;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .item3 h2 {
    font-size: 1.5em;
    font-weight: bold;
   }
  /*  .item3 .container-evaluate {

       display: grid;
   } */

  .item4 {
    padding: inherit;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow-y: scroll;
  }
  .item4 h2 {
    font-size: 1.5em;
    font-weight: bold;
   }

  .cards {
    /* display: grid; */
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 10px;
  }
  
  .example-card {
    margin: auto;
    width: 100%;
    position: relative;
    /* max-width: 400px; */
    margin-bottom: 8px;
  }

  .button-container{
      display: inline-flex;
      text-align: center;

  }

  .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    height: auto;
}

mat-card-actions {
  display: inline-flex;
      text-align: center;
}
/* config para estrelas */

.estrelas input[type=radio] {
    display: none;
  }
  .estrelas label i.fa{
    font-size: 2.5em
  }
  .estrelas label i.fa:before {
    content:'\f005';
    color: #FC0;
  }
  .estrelas input[type=radio]:checked ~ label i.fa:before {
    color: #CCC;
  }

  .estrelas-list input[type=radio] {
    display: none;
  }
  .estrelas-list label i.fa{
    font-size: 1.5em
  }
  .estrelas-list label i.fa:before {
    content:'\f005';
    color: #FC0;
  }
  .estrelas-list input[type=radio]:checked ~ label i.fa:before {
    color: #CCC;
  }