.container{
    background-color: #3f52b5;
    padding: 20px 50px;
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.copywrite{
    color: #fff;
    padding-right: 100px;
}