<div class="container">
<mat-toolbar>
  <span>Cadastro</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <form (ngSubmit)="register()" #form="ngForm" class="my-form">
    
        <mat-form-field class="full-width">
          <mat-label>Nome Completo</mat-label>
          <input matInput [(ngModel)]="usuario.nomeCompleto" placeholder="Gabriel" name="nomeCompleto" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="usuario.username" placeholder="@gabriel" name="username" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Senha</mat-label>
          <input matInput [(ngModel)]="usuario.senha" placeholder="xxxxx" name="senha" type="password" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Estado</mat-label>
          <input matInput [(ngModel)]="usuario.estado" placeholder="SP" name="estado" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>País</mat-label>
          <input matInput [(ngModel)]="usuario.pais" placeholder="Brasil" name="pais" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Data de Nascimento</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="usuario.dataNasc" placeholder="Choose a date" name="dataNasc" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="register()" [disabled]="form.invalid" type="submit" color="primary">Cadastrar</button>
    <button mat-raised-button color="primary" [routerLink]="['/login']">Fazer login</button>
  </mat-card-actions>
</mat-card>
</div>